.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  z-index: var(--z-fixed);
  font-size: 18px;
}

.header a {
  text-decoration: none;
  color: var(--black-color);
  font-weight: var(--font-semi-bold);
  opacity: 0.75;
  transition: transform 0.3s ease;
}

.header a:hover,
.header a:active {
  opacity: 1;
  transform: scale(1.2);
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--black-color);
  font-weight: var(--font-bold);
}

.nav__logo i {
  font-size: 2rem;
}

.nav__logo span {
  font-weight: var(--font-semi-bold);
}

.nav__menu ul {
  list-style: none;
}

span.navbar-text {
  display: flex;
  align-items: center;
}
.social-icon {
  display: inline-block;
  margin-left: 14px;
}
.social-icon a {
  width: 42px;
  height: 42px;
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid var(--black-color);
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a .icon {
  width: 100%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover .icon {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  color: var(--black-color);
  border: 1px solid var(--black-color);
  padding: 12px 34px;
  font-weight: var(--font-medium);
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background: var(--gradient-color);
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

.nav__toggle,
.nav__close {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
}
.nav__link {
  display: inline-block;
}
/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: -120%;
    left: 0;
    background-color: hsla(353, 98%, 90%, 0.4);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 100%;
    padding-block: 5rem 4rem;
    box-shadow: 0 4px 24px hsla(353, 90%, 4%, 0.2);
    transition: top 0.4s;
  }

  .nav__list {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  .nav__link {
    color: var(--black-color);
    font-weight: var(--font-semi-bold);
  }

  .nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Add blur header */
.blur-header::after {
  content: "";
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(353, 98%, 90%, 0.4);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  top: 0;
  left: 0;
  z-index: -1;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
  }
}

/* For 2K resolutions (2048 x 1152) */
@media screen and (min-width: 2048px) and (min-height: 1100px) {
  .container {
    max-width: 1300px;
  }
}
